body{ background: #f9f9f9; font-family: 'Open Sans', sans-serif; margin: 0; }
.no-padding { padding: 0px 0px;}.no-padding-left{padding-left: 0px;}.no-padding-right{padding-right: 0px;}
#header{ position: fixed; top: 0; width: 100%; z-index: 999; box-shadow: 1px 0 3px 0 rgba(0, 0, 0, 0.2); }
#header .navbar-default{ margin-bottom: 0; background-color: #ffffff; border:none; border-radius: 0; }
#header .navbar-brand{ padding: 8px 7px; height: 100%; width: 100%; background: #fff;}
#header .navbar-brand img{ width: 50px; margin: 0 auto; }
#header ul.navbar-right{ background-color: transparent; border: none; background-image: none; }
#header ul.navbar-right li{ border: none; }
#header ul.navbar-right .dropdown-menu>li>a { padding: 8px 20px;}
#header ul.navbar-right .dropdown-menu>li>a:hover{background: transparent;}
#header .navbar-default .navbar-nav>li>a {padding: 22px 10px;}
#header .navbar-default .navbar-nav>li a i{padding-right: 10px;}
#header .navbar-default .navbar-nav>li.black a i{padding-right: 0px;}
#header .navbar-default .navbar-nav>li.black{background-color: #333; line-height: 30px; font-size: 14px; padding: 0px 17px; }
#header .navbar-default .navbar-nav>li.black:hover{ background-color: #eeeeee; }
#header ul.navbar-right li{ background-image: none;}
#header .navbar-default .navbar-nav>li>a.dialer-icon i.icons {
 font-size: 20px;
    background: #5cb85c;
    text-align: center;
    height: 40px;
    width: 40px;
    padding: 10px;
    color: #fff;
    border-radius: 50px;
}
#header ul.navbar-right li{ line-height: 31px; font-weight: 400; color: #212121; font-size: 16px; padding: 0px 17px; }/*
#header ul.navbar-right li, #header ul.navbar-right li{ background-color: #eeeeee; background-image: none; }*/
#header ul.navbar-right li ul{ background-color: #eeeeee; border: 1px solid #eeeeee; }
#header #toggle_btn{ display: inline-block; background-color: #ffffff; border: 0; box-shadow: none; padding: 14px 14px; float: left; color: #888888; font-size: 19px; outline: none; line-height: 36px; }
/*#header .navbar-header{ width: 66px; height: 65px; background-color: #eeeeee; -webkit-transition: all 0.5s ease; -moz-transition: all 0.5s ease; -o-transition: all 0.5s ease; transition: all 0.5s ease; }*/
#header .navbar-header{ width: 66px; height: 65px; background-color: #eeeeee; -webkit-transition: all 0.5s ease; -moz-transition: all 0.5s ease; -o-transition: all 0.5s ease; transition: all 0.5s ease; position: absolute; z-index: 999;} 
#page_container{ margin-top: 65px; width: 100%; height: 100%; }
#aside{ padding:0; margin-right: -100%; -webkit-transition: all 0.5s ease; -moz-transition: all 0.5s ease; -o-transition: all 0.5s ease; transition: all 0.5s ease; z-index: 100; width: 100px;/*65*/ float: left; height: 100%;/*100%*/ position: fixed; background: #2f353f; box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15); }
#page_container.toggled #aside{ width: 215px; }
#page_container.toggled #aside .nav li a span{ display:inline-block; padding-left: 20px; }
#page_container.toggled .page_content{ margin-left:210px !important; }
.page_content{ margin-left: 100px!important;/*65*/ }
li.dropdown.profile-drop a{padding: 8px 10px !important;}
#aside .nav>li.dropdown:hover ul.dropdown-menu{ position:absolute; display: block; margin-left: 100px;/*65*/ margin-top:0px; border: none; border-radius:0; background-color: #ffffff; box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12); }
#aside .nav>li.dropdown:hover ul.dropdown-menu li:hover a{ background-color: transparent; color: #212121; }
#aside .nav li a{ border-bottom: 1px solid #272c35; text-align: center; padding:15px 10px; position:relative; color: #a7b1c2;/*a7b1c2*/ background: 2f353f;  }
/*#aside .nav>li:hover >a{ width: 230px; position: relative!important; display: block!important; background-color:#272c35; }*/
#aside .nav .open>a, #aside .nav .open>a:focus, #aside .nav .open>a:hover, #aside .nav li a:focus{ background-color:#272c35; }
#aside .nav li a span{ display:block; }
#aside .nav li a:hover{background: #0dcad3; color: #fff; display: block;} 
#aside .nav li a span{ padding-left: 0px;/*40*/ font-size: 12px; text-transform:none; }
#aside .nav li a i{ position: relative; top: 3px; font-size: 16px; display: block;
    margin-bottom: 8px;}
#page_container.toggled #aside .nav li.dropdown::after{ top: 15px; right: 10px; color: #fff; font-size: 16px; content: "\f105"; position: absolute; font-weight: 400; display: inline-block; font-family: FontAwesome; }
#page_container.toggled #aside .nav li.open::after{ content: "\f107"; }
#page_container.toggled  #aside .nav li.dropdown ul.dropdown-menu{ position: relative; width: 100%; box-shadow: none; border: none; font-size: 14px; border-radius: 0; float:none; margin-left:0; display:none; background-color:rgba(0,0,0,0.05); }
#page_container.toggled  #aside .nav li.dropdown.open ul.dropdown-menu{ display:block;}
#page_container.toggled #aside .nav li.dropdown ul.dropdown-menu li a{ padding-left:50px; color: #75798B; display: block; padding: 10px 25px 10px 60px; }
#aside .nav li.dropdown ul.dropdown-menu li a{border-bottom:none; text-align:left; font-size:14px; padding: 10px 25px 10px 15px; color: #75798B; }
#aside .nav li.dropdown ul.dropdown-menu li:hover{ width:100% !important; }
#page_container.toggled #aside .nav li.dropdown ul.dropdown-menu li:hover a{ width:100% !important; color: #fff; background-color: transparent; }
.btn{border-radius: 4px;}
.main_container{ width:100%; float:left; }
.page_content{ -webkit-transition: all 0.5s ease; -moz-transition: all 0.5s ease; -o-transition: all 0.5s ease; transition: all 0.5s ease; }
.upper_section{ padding:20px 15px; color: #505458; background: #f9f9f9;/*padding:30px 15px 25px;*/}
/*.upper_section{ padding:20px 15px 20px; color: #505458;  
	background-color: #f6f6f6;
    position: fixed;
    width: calc(100% - 70px);
    z-index: 999;}*/
.close {
    color: #fff;
    text-shadow: 0 1px 0 #fff;
    opacity: 1;
}
.upper_section h4{ 
color: #0cc9d3;
    font-size: 24px;
    display: inline-block;
    margin: 0;
    font-weight: 600;}
.lower_section{ padding:15px; background-color: #f9f9f9; }
.lower_section .custom_table{ padding:0px 15px 0px 15px; background-color: #fff; margin-top:0px; }
.Setting-bg{background: #fff; padding:15px; margin-top: 20px;}
.Setting-bg h4{font-weight: 600; margin-bottom: 15px; font-size: 16px;}
#aside ul{ padding-top: 0px; /*10*/}
#page_container.toggled .page_content{ margin-left: 210px !important; }
.btn-purpal{background-color: #9458ee; color: #fff; border-radius: 4px;}
.btn-purpal:hover, .btn-blue:focus{ background-color: #9458ee; color: #fff;font-size: 16px; }
.btn-red{font-size: 16px;background-color: #0cc9d3; color: #fff; border-radius: 4px; transition: all 0.5s;}
.btn-red:hover, .btn-blue:focus{ background-color: #2f353f; color: #fff; transition: all 0.5s;}
.btn-gray{font-size: 16px;background-color: #ccc; color: #2f353f; border-radius: 4px;transition: all 0.5s;}
.btn-gray:hover{background-color: #0cc9d3; color: #fff;transition: all 0.5s;}
.btn-blue{font-size: 16px; background-color: #0cc9d3; color: #fff; border-radius: 4px;transition: all 0.5s; }
.btn-blue:hover, .btn-blue:focus{ background-color: #2f353f; color: #fff;transition: all 0.5s; }
.btn-del{font-size: 16px;background-color: #ff0006; color: #fff; border-radius: 4px; transition: all 0.5s;}
.btn-del:hover{background-color: #2f353f; color: #fff; border-radius: 4px; transition: all 0.5s;}
.k-button{ -webkit-box-shadow: 0 2px 6px rgba(0,0,0,.2), 0 2px 3px rgba(0,0,0,.05); box-shadow: 0 2px 6px rgba(0,0,0,.2), 0 2px 3px rgba(0,0,0,.05); border-radius: 0; border: transparent; background-image: none; }
.upper_section .pull-right span{ padding-right: 10px; }
#header ul.navbar-right li.k-last span{ background-color: #2f353f; color: #fff; }
#header ul.navbar-right li.k-last span:hover{ color: inherit; }
#header ul.navbar-right li ul li.k-last span{ background-color: transparent; color: inherit; }
#header .navbar-header-small{ width: 215px; }
/*#header .navbar-header-small .navbar-brand img{ width: 28%; }*/
#page_container.toggled #aside .nav>li:hover >a{ width: 100%; }
.bg-pink.mini-stat{padding:5px 5px;}
#aside ul li ul{ padding: 0; margin-top: 0; top: 0; }
 .mini-stat .team-ext h4{margin-bottom:5px; padding-top: 0px; font-size:15px;}
  .mini-stat .team-ext h5{margin-bottom:0px; padding-top: 0px;}
.team-ext .mini-stat-icon {margin-left:27px;margin-right: 0px;}
.mini-stat{    min-height: 130px; border-radius: 3px; margin-bottom: 20px; padding: 20px; color: #ffffff; box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.1);margin-top: 20px;}
.mini-stat-icon{ -moz-border-radius: 100%; -webkit-border-radius: 100%; border-radius: 100%; background-color: rgba(255, 255, 255, 0.2); display: inline-block; float: left; font-size: 30px; height: 60px; line-height: 65px; margin-right: 10px; text-align: center; width: 60px; }
.mini-stat-info{ padding-top: 2px; color: #eeeeee; }
.mini-stat-info span{ color: #ffffff; display: block; font-size: 24px; font-weight: 600; }
.mini-stat h5{ padding-top: 10px; font-size: 13px; margin-bottom: 0; }
.mini-stat h5 a{ color: rgba(255, 255, 255, 1); }
.mini-stat h5 a:hover{ color: #fff; }
.bg-blue{ background-color: #0dcad3; }
.bg-purple{ background-color: #9458ee; }
.bg-yellow{ background-color: #eab519; }
.bg-pink{ background-color: #9f3978; }
.portlet{ background: #ffffff; box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.1); margin-bottom: 20px; display: inline-block; width: 100%; }
.portlet .portlet-heading{ border-radius: 3px; padding: 12px 20px; color: #797979; font-size: 16px; font-weight: 600; }
.mini-stat-white{ border-radius: 3px; margin-bottom: 20px; padding: 20px; color: #797979; box-shadow: 0px 1px 2px 1px rgba(0, 0, 0, 0.1); background-color: #f8f8f8; }
.mini-stat-dark{ background-color: #f1f1f1; min-height: 130px; padding: 45px 10px; }
.mini-stat-dark:hover{ background-color: #2f353f; color: #fff; }
.mini-stat-white .icon-div{ padding-top: 15px; }
.mini-stat-white .icon-div a{ padding: 0 10px; border-radius: 100%; background-color:#2f353f; display: inline-block; font-size: 14px; height: 35px; line-height: 35px; margin: 0 7px; text-align: center; width: 35px; color: #fff;transition: all 0.5s; }
.mini-stat-white .icon-div a:hover{ background-color: #0cc9d3; color: #fff;transition: all 0.5s; }
a:hover{ text-decoration: none; }
#aside ul li.active{ background-color: #0dcad3; }
#aside .nav li.active a{ color: #fff; text-align: center;}
.mini-stat-white .icon-div a.del{ padding: 0 10px; border-radius: 100%; background-color:#ff0006; display: inline-block; font-size: 14px; height: 35px; line-height: 35px; margin: 0 7px; text-align: center; width: 35px; color: #fff;transition: all 0.5s; }
.mini-stat-white .icon-div a.del:hover{ background-color: #0cc9d3; color: #fff;transition: all 0.5s; }
a.dash-ach{font-size: 16px; color: #272c35 !important;font-weight: 600;}
/*log in start*/
.login-left {
    position: fixed;
    height: 100%;
    background-color: #333333;
    background-image:url(../img/log-in.png);
    background-blend-mode: multiply;
    background-position: center center;
    background-size: cover !important;
}
.lg-content {
    margin-top: 60%;
    text-align: center;
    padding: 0 50px;
    color: #fff;
}
.lg-content p {
    line-height: 27px;
}
.login-container {
    max-width: 401px;
    margin: 50px auto;
}
.login-container .panel .panel-heading {
    text-align: center;
    margin-bottom: 20px;
    padding-top: 40px;
    padding-bottom: 0;
}
.login-container .panel .panel-body .log-body-checkbox {
    display: inline-block;
    padding: 0;
}
.login-container .panel-default > .panel-heading {
    background-color: transparent;
    border-color: transparent;
    /* height: 65px; */
}
.login-container .panel-body {
    background: #f9f9f9;
}
.login-container .panel{
    box-shadow: 0 0 15px rgba(0,0,0,.1);
	}
.login-container .panel-default {
    border-color: transparent;
}
.log-body-checkbox {
    display: block;
    line-height: 22px;
    margin: 0;
    padding: 7px 0;
}
.log-body-checkbox label {
  margin-left: 10px;
}
.login-description {
    text-align: center;
    display: block;
    line-height: 20px;
    font-size: 13px;
    color: #5a5a5a;
    margin-top: 11px;
    padding-bottom: 10px;
}
.login-container .form-control {
    box-shadow: none;
    padding: 10px 12px;
    font-size: 15px;
    -webkit-transition: none;
    -o-transition: none;
    transition: none;
    border-left-width: 1px;
    border: 1px solid #ccc;
	
	    display: block;
    width: 100%;
    height: 40px;
    line-height: 1.42857143;
    color: #404040;
    background-color: #fff;
    background-image: none;
    border-radius: 0px;
}
.login-forgot-password {
    line-height: 22px;
    text-align: right;
}
.login-forgot-password a{
	color: #333;
}
.login-main-content{margin-top: 5%;}





/*-------my--22-02-2018------*/
.btn.active.focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn:active:focus, .btn:focus {
    outline: 0px auto -webkit-focus-ring-color;
    outline-offset: 0px;
}
.report-tab .nav-tabs>li>a {
	    font-size: 16px;
	padding: 6px 15px;
    color: #2f353f;
    background-color: #ccc;
    margin-right: 1px;
    line-height: 1.42857143;
    /*border: 1px solid transparent;*/ 
    border-radius: 3px;
	transition: all 0.5s;
}
.report-tab .nav-tabs {
    border-bottom: 1px solid #dcdcdc;
	padding-top: 3px;
	/*border: 1px solid #dcdcdc;*/
}
.report-tab .nav-tabs>li>a:hover {
	   color: #fff;
    cursor: pointer;
    background-color: #0cc9d3;
    border: 1px solid #0cc9d3;
    border-bottom-color: transparent;
	transition: all 0.5s;
}
.report-tab .nav-tabs>li.active>a, .report-tab .nav-tabs>li.active>a:focus, .report-tab .nav-tabs>li.active>a:hover {
    color: #fff;
    cursor: default;
    background-color: #0cc9d3;
    border: 1px solid #0cc9d3;
    border-bottom-color: transparent;
	transition: all 0.5s;
}
.report-tab .nav-tabs>li>a:hover {
    border-color: transparent;
	border-right: 1px solid #ccc;
}
/*.report-tab .table thead{
	border-top: 1px solid #e4e7ea;
	background: #ececec;
}*/
.btn i.fa{margin-right: 5px;}
.report-tab .table>thead>tr>th {
    vertical-align: bottom;
	padding: 15px 5px;
    border-bottom: 1px solid #e4e7ea;
    font-size: 15px;
    white-space: nowrap;
		font-weight: 600;
}
.summary b{font-weight: 600; font-size: 15px;}
.textarea-ht textarea.form-control {
    height: auto !important;
}
.modal-tab{
	padding: 15px 15px;
}
.modal-tab h4{
	margin-bottom: 0px;
}
.modal-tab label{
	margin-bottom: 10px;
}
.modal-tab .checkbox{
    margin-left: 25px;
}
    .modal-scroll .modal-body{
		overflow-x: hidden;
		height: 480px;
}
.modal-tab .radio+.radio {
    margin-top: 12px !important;
}
.modal-tab .checkbox input[type=checkbox]{margin-left: -25px;}
.weekend .table>tbody>tr>td {
       border-top: 0px solid #dcdcdc !important;
}
input[type=checkbox]:checked::after {
    content: "\f00c";
    outline: none;
    font: normal normal normal 14px/1 FontAwesome;
    color: #272c35;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
}
input[type=radio]:checked::after {
    outline: none;
    content: "\f111";
    font: normal normal normal 14px/1 FontAwesome;
    color: #272c35;
    font-size: 8px;
    line-height: 13px;
    text-align: center;
}
input[type=checkbox]::after {
    content: " ";
    outline: none;
    width: 19px;
    height: 19px;
    line-height: 19px;
    background-color: #fff;
    border-radius: 2px;
    border: 1px solid #272c35;
	display: inline-block;
}
input[type=radio]::after {
    content: " ";
    outline: none;
    width: 15px;
    height: 15px;
    line-height: 17px;
    background-color: #fff;
    border-radius: 50%;
    position: absolute;
    border: 1px solid #272c35;
}
.report-tab .form-control {
    height: 32px;
    font-size: 13px;
    border: 1px solid #dcdcdc;
    border-radius: 0px;
	box-shadow: none;
}
.margin-r-l .radio{
	margin-left: 20px;
}
.balance h6{
	color: #0dcad3;
	text-align: center;
    font-weight: 600;
    font-size: 18px;
}
.country{padding: 20px 20px; box-shadow: 0px 5px 25px -10px #000;}
.country h6{
	color: #272c35;
	text-align: center;
    font-size: 16px;
}
.country a img{width: 50px; height: 50px; border-radius: 50%;}
.country span{color: #0dcad3; text-align: center; font-size: 18px;}
.add-fund-modal p{margin: 15px 0px; color: #9f3978;}
.balance{padding: 20px 20px; box-shadow: 0px 5px 25px -10px #000;}
.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover {
    background-color: #272c35;
    border-color: #272c35;
}
.pagination>li:first-child>a, .pagination>li:first-child>span {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
}
.pagination>li:last-child>a, .pagination>li:last-child>span {
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
}
.pagination>li:first-child>a, .pagination>li:first-child>span {
    background: transparent;
}
.pagination>li>a, .pagination>li>span {
	    background: transparent;
    color: #2f353f;
	    padding: 2px 12px;
}
.report-tab .m-t-20 labe{    
color: #2f353f;
    font-size: 15px;
    font-weight: 600;
	}
.report-tab table tr th i.fa{
    color: #dcdcdc;
    margin-left: 5px;
}
.report-tab .pagination {
    float: right;
/*  margin: 10px 0px 15px 0px !important;*/
	margin: 19px 0px 10px 0px !important;
}
.col-md-width .col-md-3{width:20%;}
.report-tab .m-t-20{
    margin: 15px 0px 9px 0px !important;
}
.report-tab .table>tbody>tr>td{
	    font-size: 15px;
	padding: 10px 8px;
	border-top: 1px solid #dcdcdc;
	white-space: nowrap;
}
.report-tab .record-box{
	background: transparent;
	height: 26px;
}
.m-t-15 {
    margin-top: 22px !important;
}
.mt-t-10{margin-top: 15px;}
.mt-t-5{margin-top: 5px;}
.mt-t-20{margin-top: 20px;}
.margin-tp{margin-top: 25px;}
.m-bt-10{margin-bottom: 10px;}
.m-bt-30{margin-bottom: 30px;}
.margin-t-25{
	margin-top: 35%;
}
.margin-btm-15{margin-bottom: 15px !important;}
.quest .btn-gray {
    margin-right: 10px;
}
.report-tab .input-group-addon{border-radius: 0px;}
.analytics .custom_input{
	border-radius: 4px;
	box-shadow: none;
	outline: none;
}
span.date-time-text {
    color: #B9B9B9;
}
.control-label {
    margin-bottom: 5px;
       font-weight: 600;
}
.weak h5{
	font-size: 14px;
	font-weight: 600;
}
.nav-tabs .modal-title {
    font-size: 18px;
    font-weight: 700;
}
.choose-file{
	padding: 30px;
}
.browse-btn input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;   
    cursor: inherit;
    display: block;
}
{
    position: relative;
    overflow: hidden;
}
.browse-btn .analytics .form-group label {
    margin-bottom: 10px;
    font-weight: normal;
}
.setting .bg-lightgrey h4 {
    line-height: 31px;
    font-size: 18px;
}
.hieght_auto{
	height: auto !important;
}
.setting .bg-lightgrey h2{font-size: 22px;}
.bg-lightgrey {
    background-color: #fff;
    padding: 15px;
   /* border: 1px solid #e9e9e9;*/
 /*   min-height: 200px;*/
    margin-bottom: 30px;
}
.bg-lightgrey-02{
	 background-color: #fff;
    padding: 15px;
	 margin-bottom: 10px;
}
.plan-header h3{margin: 0 auto; font-size: 18px; cursor: pointer; color: #2f353f; font-weight: bold;} 
.profile-header h3{margin: 0 auto; font-size: 18px; cursor: pointer; color: #2f353f; font-weight: bold;}
.profile-edit{margin-top: 30px;}
.more-less {
	cursor: pointer;
        float: right;
        color: #9f3978;
	    font-size: 24px;
    }
.start-box{
	padding: 20px 0px;
}
.table-custom td a {
    padding: 0 10px;
    border-radius: 100%;
    background-color: rgba(0, 0, 0, 0.1);
    display: inline-block;
    font-size: 12px;
    height: 33px;
    line-height: 33px;
    margin: 0 7px;
    text-align: center;
    width: 33px;
    color: #888888;
}
.bg_sideline {
    padding: 30px 20px;
    border-left: 1px solid #ddd;
    text-align: center;
    margin-top: 20px;
}
.color-default {
    color: #555 !important;
}
.main_points li::before {
    content: "\e080";
    font-family: 'simple-line-icons';
    color: #eab519;
    display: inline-block;
    font-weight: bold;
    padding-right: 10px;
}
.main_points li {
    color: #6e7f8c;
    line-height: 2.9em;
   display: inline-block;
    margin-right: 0.6em;
}
.upgrade-t-p{
	padding-top: 25%;
}
.box-height{min-height: 330px;border: 1px solid #e9e9e9;}
.color2 {
    color: #cccccc;
}
.btn-link {
    border: 2px solid #9f3978;
    color: #9f3978;
}
.table-custom tbody tr td {
    vertical-align: middle;
    border-top: none;
    border-bottom: 1px solid #eee;
}
.country_list {
    height: 172px;
    overflow-y: auto;
    padding: 10px;
    border: 1px solid #ddd;
}
.dial-tab{
	margin-top: 20px;
}
.dial-tab ul.main_points{
	padding-left: 0px;
}
.dial-tab .main_points li {
	list-style-type: none;
   display: block;
}
.dial-tab .main_points li a i {
padding: 0 10px;
    border-radius: 100%;
    background-color: rgba(0, 0, 0, 0.1);
    display:block;
    font-size: 12px;
    height: 33px;
    line-height: 33px;
    margin: 0 7px;
    text-align: center;
    width: 33px;
    color: #888888;
}
.width-full {
    width: 100%;
}
.missed h4{line-height: 27px;
    font-size: 17px;}
.textarea-deco {
    outline: none;
    border: 1px solid #eeeeee;
    padding: 5px;
    margin-bottom: 7px;
    height: 60px;
    box-shadow: none;
}
.bg1 {
    background-color: #333;
    border-color: transparent;
    color: #fff;
}
.custom_table td a .fa-eye {
    background: #bbb;
padding: 3px 3px;
    border-radius: 25px;
    color: #fff;
    height: 25px;
    width:25px;
    text-align: center;
     font-size: 12px;	
	line-height: 19px;
}
.custom_table td a .fa-sort-numeric-desc{
	 background: #2f353f;
padding: 3px 3px;
    border-radius: 25px;
    color: #fff;
   height: 25px;
    width:25px;
    text-align: center;
      font-size: 12px;	
	line-height: 19px;
}
.custom_table td a .fa-play-circle {
    background: #bbb;
padding: 3px 3px;
    border-radius: 25px;
    color: #fff;
  height: 25px;
    width:25px;
    text-align: center;
     font-size: 12px;	
	line-height: 19px;
}
.custom_table td a .fa-pencil-square-o {
    background: #2f353f;
padding: 3px 3px;
    border-radius: 25px;
    color: #fff;
     height: 25px;
    width:25px;
    text-align: center;
      font-size: 12px;	
	line-height: 19px;
}
.custom_table td a .glyphicon-trash {
    background: #ff0006;
padding: 3px 3px;
    border-radius: 25px;
    color: #fff;
     height: 25px;
    width:25px;
    text-align: center;
      font-size: 12px;	
	line-height: 19px;
}
.custom_table td a .fa-info {
    background:#20b6f0;
padding: 3px 3px;
    border-radius: 25px;
    color: #fff;
     height: 25px;
    width:25px;
    text-align: center;
      font-size: 12px;	
	line-height: 19px;
}
.white{background: #fff !important; padding: 15px;}
.glyphicon-cloud-upload{
    background: #2f353f;
padding: 3px 3px;
    border-radius: 25px;
    color: #fff;
    height: 25px;
    width:25px;
    text-align: center;
     font-size: 12px;	
	line-height: 19px;	
}
.glyphicon-play{
    background: #2f353f;
padding: 3px 3px;
    border-radius: 25px;
    color: #fff;
     height: 25px;
    width:25px;
    text-align: center;
    font-size: 12px;	
	line-height: 19px;
}
 #page_container .collapse {
    display:inline-block;
}
a.pls i.fa{font-size: 25px; padding-top: 3px; color: #9f3978;}
/*-------full-calendar-css-include-here---------*/
	#loading {
		display: none;
		position: absolute;
		top: 10px;
		right: 10px;
	}

	#calendar {
		max-width: 90%;
		margin: 40px auto;
		padding: 0 10px;
	}
.fc-state-default{
	border-radius: 0px;
    color: #fff;
	background: #9f3978;
	margin-right: 3px !important;
}
.fc-ltr .fc-basic-view .fc-day-top .fc-day-number {
    color: #2f353f;
}
.fc-event.fc-draggable, .fc-event[href], .fc-popover .fc-header .fc-close, a[data-goto] {
    color: #2f353f;
}
.fc-state-default.fc-corner-left {
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}
.fc-state-default.fc-corner-right {
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}
/*dailer css start here*/
.forwading-inner-sec .control-label {
    font-weight: 400;
	font-size: 18px;
}
.forwading-inner-sec .radio {
    font-weight: normal;
	
	font-size: 14px;
}
.three .margin-r-l .btn {
    padding: 2px 5px;
	    font-size: 14px;
}
.forwading-inner-sec .form-group.border-btm {
    display: inline-block;
    border-bottom: 1px solid #f3f3f3;
    width: 100%;
	    padding-bottom: 10px;
		    margin-bottom: 15px;
}
.forwading-inner-sec .form-group p{font-size:18px;}
.forwading-inner-sec.tabs-left{
  border-bottom: none;
  padding-top: 2px;
}
.forwading-inner-sec .tabs-left {
  border-right: 1px solid transparent;
   border: 1px solid transparent;
}

.forwading-inner-sec .tabs-left>li{
  float: none;
  margin-bottom: 2px;
}
.forwading-inner-sec .nav-tabs>li>a {
    font-size: 16px;
/*    padding: 12px 15px;*/
    /* padding: 12px 40px; */
    padding: 12px 20px 12px 40px;
	    margin: 8px 0px;
    color: #2f353f;
    background-color: transparent;
    margin-right: 1px;
    line-height: 1.42857143;
    border: 1px solid #f3f3f3; 
    border-radius: 0px;
    transition: all 0.5s;
}
.forwading-inner-sec .nav-tabs>li.active>a, .forwading-inner-sec .nav-tabs>li.active>a:focus, .forwading-inner-sec .nav-tabs>li.active>a:hover {
    color: #2f353f;
    cursor: default;
    background-color: #f3f3f3;
    border: 1px solid #f3f3f3;
    border-bottom-color: transparent;
    transition: all 0.5s;
}
.forwading-inner-sec .nav-tabs>li>a:hover {
    color: #2f353f;
    cursor: pointer;
    background-color: #f3f3f3;
    border: 1px solid #f3f3f3;
    border-bottom-color: transparent;
    transition: all 0.5s;
}
.forwading-inner-sec .tabs-left>li {
  margin-right: -1px;
}
.inner-tab-pad{padding-left:45px;}
span.radio-cell{
	    position: absolute;
    z-index: 9;
    margin: 16px 12px;
}
span.radio-cell input[type=radio]:checked::after {
    outline: none;
    content: "\f111";
    font: normal normal normal 14px/1 FontAwesome;
    color: #0cc9d3;
    font-size: 13px;
	    margin-top: -6px;
    line-height: 16px;
    text-align: center;
	 border: 2px solid #0cc9d3;
}

span.radio-cell input[type=radio]::after {
    content: " ";
    outline: none;
	margin-top: -6px;
    width: 20px;
    height: 20px;
    line-height: 17px;
    background-color: #fff;
    border-radius: 50%;
    position: absolute;
    border: 2px solid #2f353f;
}
.forwading-inner-sec .tabs-left>li.active>a,
.forwading-inner-sec .tabs-left>li.active>a:hover,
.forwading-inner-sec .tabs-left>li.active>a:focus {
  border-bottom-color: transparent;
  border-right-color: transparent;
  border: 1px solid transparent;
}
/* .forwading-inner-sec .tabs-left>li.active:not(:last-child) a:after */
.forwading-inner-sec .tabs-left>li.active:after {
    border-color: transparent transparent transparent #428bca;
	    position: absolute;
    content: "";
    top: 0px;
    right: -22px;
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 24px 0 23px 23px;
    border-color: transparent transparent transparent #f3f3f3;
    z-index: 150;
}
.forwading-inner-sec h3{margin-top:0px; color:#0cc9d3; font-size:20px;}
.dailer-modal .modal-header {
    border-bottom: 1px solid transparent;
	    padding-bottom: 5px;

}
.dailer-modal .modal-header .close {
	    font-size: 25px;
    color: #fff;
    text-shadow: 0 1px 0 #fff;
    opacity: 1;
	    height: 35px;
    width: 35px;
    background: #272c35;
    border-radius: 50px;
    margin-top: -20px;
    margin-right: -20px;
}
.dailer-modal .span4
{
    width: 70px;
    float: left;
    margin: 0 13px 10px 13px;
}

.dailer-modal .phone
{
    margin-top: 15px;
    background: #fff;
}
.dailer-modal .tel
{
    margin-bottom: 10px;
    margin-top: 10px;
    border: 1px solid #9e9e9e;
    border-radius: 0px;
}
.dailer-modal .num-pad
{
    padding-left: 14px;
}

.dailer-modal .txt
{
    font-size: 30px;
    text-align: center;
    margin-top: 12px;
    font-family: 'Lato' , sans-serif;
    line-height: 21px;
    color: #272c35;
}
.dailer-modal .modal-body {
    position: relative;
    padding: 5px 20px 40px 20px;
}
.dialer-body .btn.btn-primary{font-size:18px; background:transparent; border:none;border-radius:0px; color:#000; box-shadow:none;}
.dialer-body .btn.btn-primary:hover{ background:transparent; color:#000;}
.dialer-body .open>.dropdown-toggle.btn-primary:focus, .dialer-body .open>.dropdown-toggle.btn-primary:hover{
	background:transparent; color:#000;
}
.dialer-body .dropdown-menu {
    min-width: 340px
}
.dropdown-divider {
    height: 0;
    margin: .7rem 0;
    overflow: hidden;
    border-top: 1px solid #e9ecef;
}
.dialer-body{}
.dailer-modal .num
{
    border: 1px solid #f3f3f3;
    -webkit-border-radius: 999px;
    border-radius: 999px;
    -moz-border-radius: 999px;
    height: 70px;
    background-color: #f3f3f3;
    color: #272c35;
    cursor: pointer;
}
.dailer-modal .num:hover
{
	border: 1px solid #cdcdcd;
    background-color: #cdcdcd;
    color: #fff;
    transition-property: background-color .2s linear 0s;
    -moz-transition: background-color .2s linear 0s;
    -webkit-transition: background-color .2s linear 0s;
    -o-transition: background-color .2s linear 0s;
}

.dailer-modal .small
{
    font-size: 14px;
}
.dailer-modal .txt.has-key{
	    font-size: 35px;
    margin-top: 25px;
	}
.dailer-modal .txt.star-key{
	    font-size: 52px;
    margin-top: 35px;
}
.dailer-modal .btn.dail-btn
{
    font-weight: bold;
    -webkit-transition: .1s ease-in background-color;
    -webkit-font-smoothing: antialiased;
    letter-spacing: 1px;
}
.dailer-modal .btn.dail-btn:hover
{
    transition-property: background-color .2s linear 0s;
    -moz-transition: background-color .2s linear 0s;
    -webkit-transition: background-color .2s linear 0s;
    -o-transition: background-color .2s linear 0s;
}

.dailer-modal .form-control {
    height: 50px;
    font-size: 16px;
    border: 1px solid #f3f3f3;
    border-radius: 0px;
    box-shadow: none;
}
		.dailer-modal .modal-dialog{
			width: 380px;
    margin: 30px auto;
		}
		.dail-btn i.icons{
			font-size: 36px;
		}
		.btn-success.dail-btn {
    height: 75px;
    width: 75px;
    line-height: 82px;
    border-radius: 50%;
}
/*dailer css start end*/
/*-------full-calendar-css-end-here---------*/

/*chat window css start here*/
.sms-sec .team-side-a h4 {
    font-size: 16px;
    line-height: 24px;
}
.sms-chat-window .panel{
    margin-bottom: 0px;
}
/* .chat-window{
    bottom:0;
    position:fixed;
    float:right;
    margin-left:10px;
}
.chat-window > div > .panel{
    border-radius: 0px 0px 0 0;
} */
.msg_container_base{
  background: #fff;
  margin: 0;
  padding: 0 10px 10px;
  max-height:420px;
  height: 420px;
  overflow-x:hidden;
}
.sms-chat-window .top-bar {
  /* background: #666; */
  color: white;
  padding: 15px;
  position: relative;
  overflow: hidden;
}
.sms-chat-window .msg_receive{
    padding-left:0;
    margin-left:0;
    background: #f3f3f3;
    color: #2f353f;
}
.sms-chat-window .msg_receive time.time_date{ color: #2f353f;float: right;display: inline-block;}
.sms-chat-window .msg_sent time.time_date{ color: #2f353f;}

.sms-chat-window .msg_sent{
    background: #d4f1f1;
    color: #2f353f;
    padding-bottom:20px !important;
	margin-right:0;

}
.sms-chat-window .chatbody .panel-footer {
    padding: 10px 15px;
    background-color: #fff;
    border-top: 1px solid #f3f3f3;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
}
.chatbody .panel-primary {
    border-color: #f3f3f3;
    border-radius: 0px;
}
.chatbody .panel-primary>.panel-heading {
    color: #2f353f;
    background-color:transparent;
    border-color: #f3f3f3;
}
.sms-chat-window .messages {
  padding: 10px;
  border-radius: 2px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  max-width:100%;
  display: inline-block;
  width: 100%;
}
.sms-chat-window .messages > p {
    font-size: 13px;
    margin: 0 0 0.2rem 0;
  }
  .sms-chat-window .messages > time {
    font-size: 11px;
    color: #ccc;
}
.msg_container {
    padding: 10px;
    overflow: hidden;
    display: flex;
}


.sms-chat-window .base_sent {
  justify-content: flex-end;
  align-items: flex-end;
}


.sms-chat-window .msg_sent > time{
    float: right;
}



.msg_container_base::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 3px rgba(0,0,0,0.0);
    background-color: #f3f3f3;
}

.msg_container_base::-webkit-scrollbar
{
    width: 6px;
    background-color: #f3f3f3;
}

.msg_container_base::-webkit-scrollbar-thumb
{
    -webkit-box-shadow: inset 0 0 3px rgba(0,0,0,.0);
    background-color: #ccc;
}
.chat-sec-b .sms-chat-window .panel-footer .input-group .form-control{height: 50px; border: none;width: 90%;}
.chat-sec-b .sms-chat-window .panel-footer .input-group-btn .btn-blue{
    border-radius: 4px;    
    padding: 3px 12px; 
    font-size: 14px;
    background-color: #2f353f;
     transition: all 0.5s;
}
.chat-sec-b .sms-chat-window .panel-footer .input-group-btn .btn-blue:hover{
    background-color: #0cc9d3;
     transition: all 0.5s;
}
.sms-chat-window .btn-group.dropup{
    position:fixed;
    left:0px;
    bottom:0;
}
.chat-sec-b{background: #fff;  padding: 20px 15px; min-height: 630px;}
.sms-sec span.flg .img{ 
    width: 30px;
    height: 30px;
    margin-right: 10px;
    border-radius: 50%;
}
    /*chat window css start here*/
    .send-modal .chat-md-textarea{height: 150px;}
    .send-modal .close {
        color: #666;
    }
.lower_section .team-tab{ padding: 15px 0px;}
.lower_section .user-ext{padding: 30px 30px;}
.user-ext-box{
/*
	margin-bottom: 25px;
    background: #f3f3f3;	
    padding: 15px 15px;
    border-radius: 10px;
	box-shadow: 0px 0px 15px 1px rgba(213, 221, 234, 0.7);
*/
	border-radius: 3px;
    margin-bottom: 20px;
    padding: 20px;
    color: #797979;
    box-shadow: 0px 1px 2px 1px rgba(0, 0, 0, 0.1);
    background-color: #f8f8f8;
}
.user-ext-box .user-ext-details h2 {
    font-size: 18px;
    font-weight: 600;
    color: #0cc9d3;
}
.user-ext-box.contact-box .user-ext-details h2 {
    font-size: 18px;
	    margin-top: 0px;
    font-weight: 600;
    color: #0cc9d3;
}
.user-ext-box.contact-box .user-ext-details .icon-div a {
    padding: 0 8px;
    font-size: 13px;
    line-height: 31px;
    margin: 0 4px;
    height: 30px;
    width: 30px;
}
.user-ext-box.contact-box .user-ext-details .icon-div a.call-icon {
    background-color: #5cb85c;
}
.user-ext-box.contact-box .user-ext-details .icon-div a.call-icon:hover {
    background-color: #0dcad3;
}
.margin-btm-30{margin-bottom: 30px;}
.user-ext-box .user-ext-img img{
height: 75px;
    width: 75px;
}
.user-edit-img img{
	height: 75px;
    width: 75px;
	margin-bottom: 20px;
}
.user-edit-img i.fa{
    position: absolute;
    color: #0cc9d3;
    top: 10px;
    margin-top: 50px;
    font-size: 22px;
    margin-left: 12px;
}
.user-ext-box .user-ext-img span.online-circle{
    top: 15%;
    right: 33%;
    position: absolute;
    height: 15px;
    width: 15px;
	border-radius: 25px;
	background-color:#1DE54D;
}
.user-ext-box .user-ext-img span.online-circle.green{
	background-color:#1DE54D;
}
.user-ext-box .user-ext-img span.online-circle.red{
	background-color:#F72C2F;
}.user-ext-box .user-ext-img span.online-circle.gray{
	background-color:#D4D4D4;
}
.fax-number h3{
	    font-size: 18px;
    margin-top: 10px;
    margin-bottom: 0px;
}
.fax-m-body .control-label {
    margin-top: 10px;
	padding-left: 0px;
}
.fax-m-body .textarea-ht{min-height: 60px;}
.fax-m-body .browse-btn input[type=file] {
    position: absolute;
    top: 50px;
    right: 0;
    min-width: 20%;
    min-height: 20%;
    font-size: 32px;
     display: block; 
}

.team-list.fax-list{
	border-top: 1px solid transparent;
    margin-top: 0px;
}
.team-side-a.team-side-a-2{
    min-height: 270px;
	}
	.team-side-a.team-side-a-2 .rule-btn{
      font-size: 14px;
	  padding: 3px 8px;
	}
.team-form{
	padding-left:20px;
/*
	background: #f3f3f3; 
	padding: 30px 30px;
*/
}
.btn-green{background-color: #5abf16; color: #fff;}
.team-ext-box{
/*
    background: #f3f3f3;
    padding: 5px 5px;
    border-radius: 10px;
	box-shadow: 0px 0px 15px 1px rgba(213, 221, 234, 0.7);
*/
	border-radius: 3px;
    margin-bottom: 20px;
    padding: 20px;
    color: #797979;
    box-shadow: 0px 1px 2px 1px rgba(0, 0, 0, 0.1);
    background-color: #f8f8f8;
}
.team-ext-box .team-ext-img img{
height: 40px;
    width: 40px;
}
.team-form h2 {
	margin-top: 0px;
    font-size: 24px;
    margin-bottom: 15px;
}
span.team-name{color: #0dcad3; font-size: 20px;}
.team-form h3 {
	margin-top: 20px;
    font-size: 24px;
    margin-bottom: 15px;
}
.team-form h4 {
	margin-top: 30px;
    font-size: 16px;
    margin-bottom: 0px;
}
.team-ext-box .team-ext-details h2 {
	    margin-top: 5px;
	margin-bottom: 5px;
    font-size: 18px;
    font-weight: 600;
    color: #0cc9d3;
}
.team-ext-box .team-ext-details p{
	margin-bottom: 5px;
	font-size: 15px;
}
.team-ext-box .team-ext-details input[type=checkbox]:checked::after{line-height: 17px;}
.team-side-a{ min-height: 630px;  background-color: #fff; padding: 20px 10px;}/*padding-top: 20px;*/
.team-side-b{padding: 20px 27px 30px 10px; background-color: #fff;}
.team-side-b .margin-t-25 {
    margin-top: 10px;
}
ul.team-list{padding-left: 0px; border-top: 1px solid #f3f3f3; margin-top: 20px;}
ul.team-list li{list-style-type: none; padding: 10px 0px; font-size: 16px;}
ul.team-list li a{color: #555;}
ul.team-list li.active a{color: #0cc9d3; font-weight: 600;}
.user-ext .modal-header {
    border-bottom: 1px solid transparent;
	background:#0cc9d3;
}
.user-ext .modal-footer {
    border-top: 1px solid transparent;
	padding-top: 0px;
}
.forwardin_grule ul.team-list li a span.rule-name{display: block;line-height: 29px;font-size: 16px;color: #0cc9d3;}
.forwardin_grule ul.team-list li a span.rule-id{display: block;line-height: 29px;font-size: 14px;}
.forwardin_grule ul.team-list li a span.rule-forward{display: block;line-height: 29px; font-size: 14px;}
.forwardin_grule ul.team-list li {
    margin-bottom: 10px;
    border: 1px solid #f3f3f3;
    padding: 10px 10px;
    font-size: 16px;
}
span.checkbox-space{margin-right: 12px;}
.forwardin_grule .form-group {
    margin-bottom: 20px;
}
.report-tab .forwarding-rule-table table tr td .form-control {
    width: 110px;
}
.dashboard-sec-1{
	    background: #ffffff;
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
	padding: 15px 15px;
    display: inline-block;
    width: 100%;
}
.forwardin_grule ul.team-list li.active {background-color: #f3f3f3; font-weight: normal;}
.forwardin_grule ul.team-list li.active a span.rule-id{color: #333;    font-weight: normal;}
.forwardin_grule ul.team-list li.active a span.rule-forward{color: #333;    font-weight: normal;}
.forwardin_grule ul.team-list li a span.glyphicon {
 margin-top: 5px;
	float: right;
	background: #ff0006;
    padding: 3px 3px;
    border-radius: 25px;
    color: #fff;
    height: 25px;
    width: 25px;
    text-align: center;
    font-size: 12px;
    line-height: 19px;
}
.forwading-inner-sec{padding: 30px 15px;}
.forwading-inner-sec .switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 30px;
}

.forwading-inner-sec .switch input {display:none;}

.forwading-inner-sec .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #6E6E6E;
  -webkit-transition: .4s;
  transition: .4s;
}

.forwading-inner-sec .slider:before {
  position: absolute;
  content: "";
  height: 24px;
  width: 24px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

.forwading-inner-sec input:checked + .slider {
  background-color: #0cc9d3;
}

.forwading-inner-sec input:focus + .slider {
  box-shadow: 0 0 1px #0cc9d3;
}

.forwading-inner-sec input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.forwading-inner-sec .slider.round {
  border-radius: 34px;
}

.forwading-inner-sec .slider.round:before {
  border-radius: 50%;
}
div.uload-btn {
	    margin-bottom: 12px;
  position: relative;
  overflow: hidden;
	border-radius: 4px;
	    padding:0px 6px;
/*
    height: 30px;
    width: 30px;
*/
    font-size: 16px;
    line-height: 21px;
	    cursor: pointer;
	color: #0cc9d3;
    background-color: transparent;
	    border: none;
}
.uload-btn input {
/*
  position: absolute;
  font-size: 50px;
  opacity: 0;
  right: 0;
  top: 0;
*/ position: absolute;
/*    font-size: 25px;*/
	    font-size: 0px;
	 cursor: pointer;
/*    width: 30px;*/
	 width: 80px;
	border-radius: 50px;
    opacity: 0;
    right: 0;
    top: 0;
    left: 0;
    bottom: 0;
}
.greeting-check input[type=checkbox]{
	float: right;
    margin-right: 15px;
						  }
.greeting-tab .form-group {
/*    padding: 10px 0px;*/
/*    border-bottom: 1px solid #f3f3f3;*/
	    padding: 0px 15px;
    margin-bottom: 15px;
	    min-height: 125px;
}
.border-right{
    border-right: 1px solid #cdcdcd;
	}
ul.greeting-ul{padding-left: 0px;}
ul.greeting-ul li{
/*    border-bottom: 1px solid #f3f3f3;*/
    list-style-type: none;
    display: inline-block;
    width: 100%;
    padding: 10px 0;
}
ul.greeting-ul li span.greeting-del{
/*	    margin-right: 26px;*/
	 background: #ff0006;
padding: 3px 3px;
    border-radius: 25px;
    color: #fff;
     height: 25px;
    width:25px;
    text-align: center;
      font-size: 12px;	
	line-height: 19px;
}	
i.uload-text{
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
	}
.forwardin_grule .team-side-a.team-side-a-2{min-height: 640px;}
.forwardin_grule .team-side-b{min-height: 640px;}

.user-ext .modal-title {
    font-size: 18px;
	color: #fff;
	    font-weight: 600;
}
.h-m{font-size: 13px;}
.pagination>li>a:focus, .pagination>li>a:hover, .pagination>li>span:focus, .pagination>li>span:hover {
    z-index: 2;
    color: #fff;
    background-color: #0cc9d3;
    border-color: #0cc9d3;
	transition: all 0.5s;
}

.user-ext-details .icon-div a {
    padding: 0 10px;
    border-radius: 100%;
    background-color: #2f353f;
    display: inline-block;
    font-size: 14px;
    line-height: 35px;
    margin: 0 7px;
    text-align: center;
    height: 35px;
	width: 35px;
    color: #fff;
transition: all 0.5s;
}
.user-ext-details .icon-div a:hover {
    background-color: #0dcad3;
    color: #fff;
	transition: all 0.5s;
}
.user-ext-details .icon-div a.del{ background-color: #ff0006;}
.user-ext-details .icon-div a.del:hover{ background-color: #0dcad3;}
.user-ext-details p span{
padding-right: 8px;
    font-weight: 600;
}
.table-striped>tbody>tr:nth-of-type(odd) {
    background-color: #fff;
}






/*--media--query--start--here--*/
@media (max-width: 1024px) and (min-width: 768px){
	.team-ext-box .team-ext-details p {
    font-size: 11px;
}
.col-md-width .col-md-3 {
    width: auto;
}   
}
@media screen and (max-width: 1000px) {}
@media (max-width: 767px){
	.col-md-width .col-md-3 {
    width: auto;
}
	.user-ext-box {
		margin-bottom: 15px;
    box-shadow: 0px 0px 1px 1px rgba(213, 221, 234, 0.7);
}
	.team-side-a {min-height: auto;}
	.team-ext-box {
    box-shadow: 0px 0px 1px 1px rgba(213, 221, 234, 0.7);
}
	ul.team-list li {
    display: inline-block;
    padding: 8px 9px;
	}
	#header .navbar-brand {
    padding: 8px 14px;
    width: 34%;
    background: #ececec;
}
	.navbar-header .fa-indent{
		font-size: 22px;
    margin-top: 16px;
    color: #000;
	}
	.page_content {
    margin-left: 0px !important;
}
	#aside {
		top: 65px;
		position: absolute;
		transition: all 0.3s !important;
		height: auto;
		 left: -150px;
		 z-index: 10;
	}
#aside.in {
		top: 65px;
	transition: all 0.3s !important;
    display: block;
    left: 0 !important;
	height: auto;
		transition: all 0.7s;
}
	#header .navbar-header {
    width: 100%;
    height: 65px;
	}
	.navbar-toggle .icon-bar {
    background: #000;
	}
	#header .navbar-brand img {
    float: left;
    width: 40px;
}
	#header #toggle_btn {
    width: 66px;
    height: 65px;
}
	#header .navbar-default .navbar-collapse{
    margin-top: 64px;
}
	.ext-cls-m{
    margin-bottom: 30px;
	}
	.lower_section {
		padding: 0px 15px;}
}
@media (max-width: 575px){ 
	#header .navbar-default .navbar-nav>li.black {
    margin-left: 30px;
    width: 20%;
}
	.bg-blue {
    margin-top: 15px;
	}

	.upper_section .pull-right span {
    padding-right: 38px;
}
	#header .navbar-brand {
    width: 24%;
	}
	/*#header .navbar-brand {
    padding: 8px 25px;
    width: 31.5%;
    background: #ececec;
}*/
	.report-tab .nav-tabs>li>a {padding: 6px 12px;}
	.btn-blue {margin-bottom: 10px;}
	.report-tab .pagination {
          padding-left: 10px; 
          float: none;
	}
	.start-box {
    padding: 0px 0px;
}
  .setting .bg-lightgrey h4 {
    font-size: 15px;
	  	text-align: left;
}
	.main_points{
		text-align: left;
	}
}
@media (max-width: 480px){}
@media (max-width: 360px){}
@media (max-width: 320px){}