body{ background: #f5f5f5; font-family: 'Noto Sans', sans-serif; margin: 0; }
#header{ position: fixed; top: 0; width: 100%; z-index: 9999; box-shadow: 1px 0 3px 0 rgba(0, 0, 0, 0.2); }
#header .navbar-default{ margin-bottom: 0; background-color: #ffffff; border:none; border-radius: 0; }
#header .navbar-brand{ padding: 8px 7px; height: 100%; width: 100%; }
#header .navbar-brand img{ width: 95%; margin: 0 auto; }
#header ul.navbar-right{ background-color: transparent; border: none; background-image: none; }
#header ul.navbar-right li{ border: none; }
#header ul.navbar-right li.k-state-hover{ background-image: none; background-color: #eeeeee; }
#header ul.navbar-right li span.k-link{ line-height: 51px; color: #212121; font-size: 15px; padding: 7px 17px; }
#header ul.navbar-right li.k-state-hover .k-link, #header ul.navbar-right li .k-link.k-state-active{ background-color: #eeeeee; background-image: none; }
#header ul.navbar-right li ul{ background-color: #eeeeee; border: 1px solid #eeeeee; }
#header ul.navbar-right li ul li span.k-link{ line-height: 30px; font-size: 14px; padding: 5px 17px; }
#header ul.navbar-right li ul li span.k-link:hover{ background-color: #eeeeee; }
#header #toggle_btn{ display: inline-block; background-color: #ffffff; border: 0; box-shadow: none; padding: 14px 14px; float: left; color: #888888; font-size: 19px; outline: none; line-height: 36px; }
#header .navbar-header{ width: 66px; height: 65px; background-color: #eeeeee; -webkit-transition: all 0.5s ease; -moz-transition: all 0.5s ease; -o-transition: all 0.5s ease; transition: all 0.5s ease; }
#page_container{ margin-top: 65px; width: 100%; height: 100%; }
#aside{ padding:0; margin-right: -100%; -webkit-transition: all 0.5s ease; -moz-transition: all 0.5s ease; -o-transition: all 0.5s ease; transition: all 0.5s ease; z-index: 100; width: 65px; float: left; height: 100%; position: fixed; background: #2f353f; box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15); }
#page_container.toggled #aside{ width: 215px; }
#aside .nav li a span{ display:none; }
#aside .nav li:hover a span{ display:inline-block; }
#page_container.toggled #aside .nav li a span{ display:inline-block; padding-left: 20px; }
#page_container.toggled .page_content{ margin-left:210px !important; }
.page_content{ margin-left: 65px!important; }
#aside .nav>li.dropdown:hover ul.dropdown-menu{ position:absolute; display: block; margin-left: 65px; margin-top:0px; border: none; border-radius:0; background-color: #ffffff; box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12); }
#aside .nav>li.dropdown:hover ul.dropdown-menu li:hover a{ background-color: transparent; color: #212121; }
#aside .nav li a{ padding:15px 23px; position:relative; color: #a7b1c2; line-height: 1.3; }
#aside .nav>li:hover >a{ width: 230px; position: relative!important; display: block!important; background-color:#272c35; }
#aside .nav .open>a, #aside .nav .open>a:focus, #aside .nav .open>a:hover, #aside .nav li a:focus{ background-color:#272c35; }
#aside .nav li:hover a span{ display:inline-block; }
#aside .nav li a span{ padding-left: 40px; font-size: 13px; text-transform: uppercase; }
#aside .nav li a i{ position: relative; top: 3px; font-size: 16px; }
#page_container.toggled #aside .nav li.dropdown::after{ top: 15px; right: 10px; color: #fff; font-size: 16px; content: "\f105"; position: absolute; font-weight: 400; display: inline-block; font-family: FontAwesome; }
#page_container.toggled #aside .nav li.open::after{ content: "\f107"; }
#page_container.toggled  #aside .nav li.dropdown ul.dropdown-menu{ position: relative; width: 100%; box-shadow: none; border: none; font-size: 14px; border-radius: 0; float:none; margin-left:0; display:none; background-color:rgba(0,0,0,0.05); }
#page_container.toggled  #aside .nav li.dropdown.open ul.dropdown-menu{ display:block; }
#page_container.toggled #aside .nav li.dropdown ul.dropdown-menu li a{ padding-left:50px; color: #75798B; display: block; padding: 10px 25px 10px 60px; }
#aside .nav li.dropdown ul.dropdown-menu li a{ font-size:14px; padding: 10px 25px 10px 15px; color: #75798B; }
#aside .nav li.dropdown ul.dropdown-menu li:hover{ width:100% !important; }
#page_container.toggled #aside .nav li.dropdown ul.dropdown-menu li:hover a{ width:100% !important; color: #fff; background-color: transparent; }
.main_container{ width:100%; float:left; }
.page_content{ -webkit-transition: all 0.5s ease; -moz-transition: all 0.5s ease; -o-transition: all 0.5s ease; transition: all 0.5s ease; }
.upper_section{ padding:30px 15px 20px; color: #505458; }
.upper_section h4{ font-size: 20px; display: inline-block; margin: 0; }
.lower_section{ padding:15px; }
#aside ul{ padding-top: 10px; }
#page_container.toggled .page_content{ margin-left: 210px !important; }
.btn-blue{ background-color: #0cc9d3; color: #fff; }
.btn-blue:hover, .btn-blue:focus{ background-color: #08b6bf; color: #fff; }
.k-button{ -webkit-box-shadow: 0 2px 6px rgba(0,0,0,.2), 0 2px 3px rgba(0,0,0,.05); box-shadow: 0 2px 6px rgba(0,0,0,.2), 0 2px 3px rgba(0,0,0,.05); border-radius: 0; border: transparent; background-image: none; }
.upper_section .pull-right span{ padding-right: 10px; }
#header ul.navbar-right li.k-last span{ background-color: #2f353f; color: #fff; }
#header ul.navbar-right li.k-last span:hover{ color: inherit; }
#header ul.navbar-right li ul li.k-last span{ background-color: transparent; color: inherit; }
#header .navbar-header-small{ width: 215px; }
#header .navbar-header-small .navbar-brand img{ width: 28%; }
#page_container.toggled #aside .nav>li:hover >a{ width: 100%; }
#aside ul li ul{ padding: 0; margin-top: 0; }
.mini-stat{ border-radius: 3px; margin-bottom: 20px; padding: 20px; color: #ffffff; box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.1); }
.mini-stat-icon{ -moz-border-radius: 100%; -webkit-border-radius: 100%; border-radius: 100%; background-color: rgba(255, 255, 255, 0.2); display: inline-block; float: left; font-size: 30px; height: 60px; line-height: 65px; margin-right: 10px; text-align: center; width: 60px; }
.mini-stat-info{ padding-top: 2px; color: #eeeeee; }
.mini-stat-info span{ color: #ffffff; display: block; font-size: 24px; font-weight: 600; }
.mini-stat h5{ padding-top: 10px; font-size: 13px; margin-bottom: 0; }
.mini-stat h5 a{ color: rgba(255, 255, 255, 0.5); }
.mini-stat h5 a:hover{ color: #fff; }
.bg-blue{ background-color: #0dcad3; }
.bg-purple{ background-color: #9458ee; }
.bg-yellow{ background-color: #eab519; }
.bg-pink{ background-color: #9f3978; }
.portlet{ background: #ffffff; box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.1); margin-bottom: 20px; display: inline-block; width: 100%; }
.portlet .portlet-heading{ border-radius: 3px; padding: 12px 20px; color: #797979; font-size: 16px; font-weight: 600; }
.mini-stat-white{ border-radius: 3px; margin-bottom: 20px; padding: 20px; color: #797979; box-shadow: 0px 1px 2px 1px rgba(0, 0, 0, 0.1); background-color: #f8f8f8; }
.mini-stat-dark{ background-color: #f1f1f1; min-height: 144px; padding: 50px 10px; }
.mini-stat-dark:hover{ background-color: #2f353f; color: #fff; }
.mini-stat-white .icon-div{ padding-top: 15px; }
.mini-stat-white .icon-div a{ padding: 0 10px; border-radius: 100%; background-color: rgba(0, 0, 0, 0.1); display: inline-block; font-size: 20px; height: 50px; line-height: 54px; margin: 0 7px; text-align: center; width: 50px; color: #888888; }
.mini-stat-white .icon-div a:hover{ background-color: #2f353f; color: #fff; }
a:hover{ text-decoration: none; }
#aside ul li.active{ background-color: #272c35; }
#aside .nav li.active a{ color: #fff; }

/*------22-02-2018------*/
.lower_section .k-content .k-header{
	background-color: #fff;
    border: none;
}
.report-tab .k-item{
	background: #0cc9d3;
    border: 1px solid #0cc9d3;
    color: #fff;
	margin-right: 2px !important;
	border-radius: 0px !important;
}
.report-tab .k-item .k-link {
    color: #fff;
}
.report-tab .k-panelbar .k-tabstrip-top>.k-tabstrip-items .k-state-active, .k-tabstrip-top>.k-tabstrip-items .k-state-active {
    background: #2f353f;
    border: 1px solid #2f353f;
    border-bottom-color: #2f353f;
}
.report-tab .common-class{
    border: 1px solid #ccc !important;
    background-color: #fff !important;
    color: #2e2e2e !important;
}
.lower_section .k-tabstrip:focus {
    -webkit-box-shadow: 0 0 3px 0 rgba(0,0,0,.0);
    box-shadow: 0 0 3px 0 rgba(0,0,0,.0);
}
/*.lower_section .k-content .k-tabstrip-items .k-link{
	border-radius: 0px;
}
.lower_section .k-content .k-tabstrip-items .k-loading{
	border-top: 0px solid transparent;
}
.lower_section .k-content .k-tabstrip>.k-content{
	border:1px solid #ccc;
}
.k-tabstrip-top>.k-tabstrip-items .k-state-active{
	    border-bottom-color: #000;
}*/