body{ background: #ececec; font-family: 'Noto Sans', sans-serif; margin: 0; }
.no-padding { padding: 0px 0px;}.no-padding-left{padding-left: 0px;}.no-padding-right{padding-right: 0px;}
#header{ position: fixed; top: 0; width: 100%; z-index: 999; box-shadow: 1px 0 3px 0 rgba(0, 0, 0, 0.2); }
#header .navbar-default{ margin-bottom: 0; background-color: #ffffff; border:none; border-radius: 0; }
#header .navbar-brand{ padding: 8px 7px; height: 100%; width: 100%; background: #fff;}
#header .navbar-brand img{ width: 95%; margin: 0 auto; }
#header ul.navbar-right{ background-color: transparent; border: none; background-image: none; }
#header ul.navbar-right li{ border: none; }
#header ul.navbar-right .dropdown-menu>li>a { padding: 8px 20px;}
#header ul.navbar-right .dropdown-menu>li>a:hover{background: transparent;}
#header .navbar-default .navbar-nav>li>a {padding: 22px 10px;}
#header .navbar-default .navbar-nav>li a i{padding-right: 10px;}
#header .navbar-default .navbar-nav>li.black a i{padding-right: 0px;}
#header .navbar-default .navbar-nav>li.black{background-color: #333; line-height: 30px; font-size: 14px; padding: 0px 17px; }
#header .navbar-default .navbar-nav>li.black:hover{ background-color: #eeeeee; }
#header ul.navbar-right li{ background-image: none;}
#header ul.navbar-right li{ line-height: 31px; font-weight: 600; color: #212121; font-size: 15px; padding: 0px 17px; }/*
#header ul.navbar-right li, #header ul.navbar-right li{ background-color: #eeeeee; background-image: none; }*/
#header ul.navbar-right li ul{ background-color: #eeeeee; border: 1px solid #eeeeee; }
#header #toggle_btn{ display: inline-block; background-color: #ffffff; border: 0; box-shadow: none; padding: 14px 14px; float: left; color: #888888; font-size: 19px; outline: none; line-height: 36px; }
/*#header .navbar-header{ width: 66px; height: 65px; background-color: #eeeeee; -webkit-transition: all 0.5s ease; -moz-transition: all 0.5s ease; -o-transition: all 0.5s ease; transition: all 0.5s ease; }*/
#header .navbar-header{ width: 66px; height: 65px; background-color: #eeeeee; -webkit-transition: all 0.5s ease; -moz-transition: all 0.5s ease; -o-transition: all 0.5s ease; transition: all 0.5s ease; position: absolute; z-index: 999;} 
#page_container{ margin-top: 65px; width: 100%; height: 100%; }
#aside{ padding:0; margin-right: -100%; -webkit-transition: all 0.5s ease; -moz-transition: all 0.5s ease; -o-transition: all 0.5s ease; transition: all 0.5s ease; z-index: 100; width: 100px;/*65*/ float: left; height: 100%;/*100%*/ position: fixed; background: #2f353f; box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15); }
#page_container.toggled #aside{ width: 215px; }
#page_container.toggled #aside .nav li a span{ display:inline-block; padding-left: 20px; }
#page_container.toggled .page_content{ margin-left:210px !important; }
.page_content{ margin-left: 100px!important;/*65*/ }
#aside .nav>li.dropdown:hover ul.dropdown-menu{ position:absolute; display: block; margin-left: 100px;/*65*/ margin-top:0px; border: none; border-radius:0; background-color: #ffffff; box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12); }
#aside .nav>li.dropdown:hover ul.dropdown-menu li:hover a{ background-color: transparent; color: #212121; }
#aside .nav li a{ border-bottom: 1px solid #272c35; text-align: center; padding:15px 10px; position:relative; color: #a7b1c2;  }
/*#aside .nav>li:hover >a{ width: 230px; position: relative!important; display: block!important; background-color:#272c35; }*/
#aside .nav .open>a, #aside .nav .open>a:focus, #aside .nav .open>a:hover, #aside .nav li a:focus{ background-color:#272c35; }
#aside .nav li a span{ display:block; }
#aside .nav li a:hover{background: #272c35; display: block;} 
#aside .nav li a span{ padding-left: 0px;/*40*/ font-size: 12px; text-transform:none; }
#aside .nav li a i{ position: relative; top: 3px; font-size: 16px; display: block;
    margin-bottom: 8px;}
#page_container.toggled #aside .nav li.dropdown::after{ top: 15px; right: 10px; color: #fff; font-size: 16px; content: "\f105"; position: absolute; font-weight: 400; display: inline-block; font-family: FontAwesome; }
#page_container.toggled #aside .nav li.open::after{ content: "\f107"; }
#page_container.toggled  #aside .nav li.dropdown ul.dropdown-menu{ position: relative; width: 100%; box-shadow: none; border: none; font-size: 14px; border-radius: 0; float:none; margin-left:0; display:none; background-color:rgba(0,0,0,0.05); }
#page_container.toggled  #aside .nav li.dropdown.open ul.dropdown-menu{ display:block;}
#page_container.toggled #aside .nav li.dropdown ul.dropdown-menu li a{ padding-left:50px; color: #75798B; display: block; padding: 10px 25px 10px 60px; }
#aside .nav li.dropdown ul.dropdown-menu li a{border-bottom:none; text-align:left; font-size:14px; padding: 10px 25px 10px 15px; color: #75798B; }
#aside .nav li.dropdown ul.dropdown-menu li:hover{ width:100% !important; }
#page_container.toggled #aside .nav li.dropdown ul.dropdown-menu li:hover a{ width:100% !important; color: #fff; background-color: transparent; }
.btn{border-radius: 4px;}
.main_container{ width:100%; float:left; }
.page_content{ -webkit-transition: all 0.5s ease; -moz-transition: all 0.5s ease; -o-transition: all 0.5s ease; transition: all 0.5s ease; }
.upper_section{ padding:20px 15px; color: #505458; background: #ececec;/*padding:30px 15px 25px;*/}
/*.upper_section{ padding:20px 15px 20px; color: #505458;  
	background-color: #f6f6f6;
    position: fixed;
    width: calc(100% - 70px);
    z-index: 999;}*/
.upper_section h4{ font-size: 20px; display: inline-block; margin: 0; }
.lower_section{ padding:15px; background-color: #ececec; }
.lower_section .custom_table{ padding:0px 15px 0px 15px; background-color: #fff; margin-top:0px; }
.Setting-bg{background: #fff; padding:15px; margin-top: 20px;}
.Setting-bg h4{font-weight: 600; margin-bottom: 15px; font-size: 16px;}
#aside ul{ padding-top: 0px; /*10*/}
#page_container.toggled .page_content{ margin-left: 210px !important; }
.btn-purpal{background-color: #9458ee; color: #fff; border-radius: 4px;}
.btn-purpal:hover, .btn-blue:focus{ background-color: #9458ee; color: #fff; }
.btn-red{background-color: #9f3978; color: #fff; border-radius: 4px;}
.btn-gray{background-color: #ccc; color: #2f353f; border-radius: 4px;}
.btn-red:hover, .btn-blue:focus{ background-color: #9f3978; color: #fff; }
.btn-blue{ background-color: #0cc9d3; color: #fff; border-radius: 4px; }
.btn-blue:hover, .btn-blue:focus{ background-color: #0cc9d3; color: #fff; }
.k-button{ -webkit-box-shadow: 0 2px 6px rgba(0,0,0,.2), 0 2px 3px rgba(0,0,0,.05); box-shadow: 0 2px 6px rgba(0,0,0,.2), 0 2px 3px rgba(0,0,0,.05); border-radius: 0; border: transparent; background-image: none; }
.upper_section .pull-right span{ padding-right: 10px; }
#header ul.navbar-right li.k-last span{ background-color: #2f353f; color: #fff; }
#header ul.navbar-right li.k-last span:hover{ color: inherit; }
#header ul.navbar-right li ul li.k-last span{ background-color: transparent; color: inherit; }
#header .navbar-header-small{ width: 215px; }
/*#header .navbar-header-small .navbar-brand img{ width: 28%; }*/
#page_container.toggled #aside .nav>li:hover >a{ width: 100%; }
#aside ul li ul{ padding: 0; margin-top: 0; top: 0; }
.mini-stat{ border-radius: 3px; margin-bottom: 20px; padding: 20px; color: #ffffff; box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.1); }
.mini-stat-icon{ -moz-border-radius: 100%; -webkit-border-radius: 100%; border-radius: 100%; background-color: rgba(255, 255, 255, 0.2); display: inline-block; float: left; font-size: 30px; height: 60px; line-height: 65px; margin-right: 10px; text-align: center; width: 60px; }
.mini-stat-info{ padding-top: 2px; color: #eeeeee; }
.mini-stat-info span{ color: #ffffff; display: block; font-size: 24px; font-weight: 600; }
.mini-stat h5{ padding-top: 10px; font-size: 13px; margin-bottom: 0; }
.mini-stat h5 a{ color: rgba(255, 255, 255, 0.5); }
.mini-stat h5 a:hover{ color: #fff; }
.bg-blue{ background-color: #0dcad3; }
.bg-purple{ background-color: #9458ee; }
.bg-yellow{ background-color: #eab519; }
.bg-pink{ background-color: #9f3978; }
.portlet{ background: #ffffff; box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.1); margin-bottom: 20px; display: inline-block; width: 100%; }
.portlet .portlet-heading{ border-radius: 3px; padding: 12px 20px; color: #797979; font-size: 16px; font-weight: 600; }
.mini-stat-white{ border-radius: 3px; margin-bottom: 20px; padding: 20px; color: #797979; box-shadow: 0px 1px 2px 1px rgba(0, 0, 0, 0.1); background-color: #f8f8f8; }
.mini-stat-dark{ background-color: #f1f1f1; min-height: 144px; padding: 50px 10px; }
.mini-stat-dark:hover{ background-color: #2f353f; color: #fff; }
.mini-stat-white .icon-div{ padding-top: 15px; }
.mini-stat-white .icon-div a{ padding: 0 10px; border-radius: 100%; background-color: rgba(0, 0, 0, 0.1); display: inline-block; font-size: 20px; height: 50px; line-height: 54px; margin: 0 7px; text-align: center; width: 50px; color: #888888; }
.mini-stat-white .icon-div a:hover{ background-color: #2f353f; color: #fff; }
a:hover{ text-decoration: none; }
#aside ul li.active{ background-color: #272c35; }
#aside .nav li.active a{ color: #fff; text-align: center;}

/*-------my--22-02-2018------*/
.btn.active.focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn:active:focus, .btn:focus {
    outline: 0px auto -webkit-focus-ring-color;
    outline-offset: 0px;
}
.report-tab .nav-tabs>li>a {
	padding: 6px 15px;
    color: #2f353f;
    background-color: #ccc;
    margin-right: 1px;
    line-height: 1.42857143;
    /*border: 1px solid transparent;*/ 
    border-radius: 3px;
}
.report-tab .nav-tabs {
    border-bottom: 1px solid #dcdcdc;
	padding-top: 3px;
	/*border: 1px solid #dcdcdc;*/
}
.report-tab .nav-tabs>li.active>a, .report-tab .nav-tabs>li.active>a:focus, .report-tab .nav-tabs>li.active>a:hover {
    color: #fff;
    cursor: default;
    background-color: #9f3978;
    border: 1px solid #9f3978;
    border-bottom-color: transparent;
}
.report-tab .nav-tabs>li>a:hover {
    border-color: transparent;
	border-right: 1px solid #ccc;
}
/*.report-tab .table thead{
	border-top: 1px solid #e4e7ea;
	background: #ececec;
}*/
.btn i.fa{margin-right: 5px;}
.report-tab .table>thead>tr>th {
    vertical-align: bottom;
	padding: 15px 5px;
    border-bottom: 1px solid #e4e7ea;
    font-size: 13px;
    white-space: nowrap;
}

.textarea-ht textarea.form-control {
    height: auto !important;
}
.modal-tab{
	padding: 15px 15px;
}
.modal-tab h4{
	margin-bottom: 0px;
}
.modal-tab label{
	margin-bottom: 10px;
}
.modal-tab .checkbox{
    margin-left: 25px;
}
    .modal-scroll .modal-body{
		overflow-x: hidden;
		height: 480px;
}
.modal-tab .radio+.radio {
    margin-top: 12px !important;
}
.modal-tab .checkbox input[type=checkbox]{margin-left: -25px;}
.weekend .table>tbody>tr>td {
       border-top: 0px solid #dcdcdc !important;
}
input[type=checkbox]:checked::after {
    content: "\f00c";
    outline: none;
    font: normal normal normal 14px/1 FontAwesome;
    color: #272c35;
    font-size: 16px;
    line-height: 16px;
    text-align: center;
}
input[type=radio]:checked::after {
    outline: none;
    content: "\f111";
    font: normal normal normal 14px/1 FontAwesome;
    color: #272c35;
    font-size: 8px;
    line-height: 13px;
    text-align: center;
}
input[type=checkbox]::after {
    content: " ";
    outline: none;
    width: 17px;
    height: 17px;
    line-height: 17px;
    background-color: #fff;
    border-radius: 2px;
    border: 1px solid #272c35;
	display: inline-block;
}
input[type=radio]::after {
    content: " ";
    outline: none;
    width: 15px;
    height: 15px;
    line-height: 17px;
    background-color: #fff;
    border-radius: 50%;
    position: absolute;
    border: 1px solid #272c35;
}
.report-tab .form-control {
    height: 32px;
    font-size: 13px;
    border: 1px solid #dcdcdc;
    border-radius: 0px;
	box-shadow: none;
}
.margin-r-l .radio{
	margin-left: 20px;
}
.balance h6{
	color: #0dcad3;
	text-align: center;
    font-weight: 600;
    font-size: 18px;
}
.country{padding: 20px 20px; box-shadow: 0px 5px 25px -10px #000;}
.country h6{
	color: #272c35;
	text-align: center;
    font-size: 16px;
}
.country a img{width: 50px; height: 50px; border-radius: 50%;}
.country span{color: #0dcad3; text-align: center; font-size: 18px;}
.add-fund-modal p{margin: 15px 0px; color: #9f3978;}
.balance{padding: 20px 20px; box-shadow: 0px 5px 25px -10px #000;}
.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover {
    background-color: #272c35;
    border-color: #272c35;
}
.pagination>li:first-child>a, .pagination>li:first-child>span {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
}
.pagination>li:last-child>a, .pagination>li:last-child>span {
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
}
.pagination>li:first-child>a, .pagination>li:first-child>span {
    background: transparent;
}
.pagination>li>a, .pagination>li>span {
	    background: transparent;
    color: #2f353f;
	    padding: 2px 12px;
}
.report-tab .m-t-20 labe{    
color: #2f353f;
    font-size: 13px;
    font-weight: 600;
	}
.report-tab table tr th i.fa{
    color: #dcdcdc;
    margin-left: 5px;
}
.report-tab .pagination {
    float: right;
/*  margin: 10px 0px 15px 0px !important;*/
	margin: 19px 0px 10px 0px !important;
}

.report-tab .m-t-20{
    margin: 15px 0px 9px 0px !important;
}
.report-tab .table>tbody>tr>td{
	padding: 10px 8px;
	border-top: 1px solid #dcdcdc;
	white-space: nowrap;
}
.report-tab .record-box{
	background: transparent;
	height: 26px;
}
.m-t-15 {
    margin-top: 22px !important;
}
.mt-t-10{margin-top: 15px;}
.mt-t-5{margin-top: 5px;}
.mt-t-20{margin-top: 20px;}
.margin-tp{margin-top: 25px;}
.m-bt-10{margin-bottom: 10px;}
.m-bt-30{margin-bottom: 30px;}
.margin-t-25{
	margin-top: 35%;
}
.margin-btm-15{margin-bottom: 15px !important;}
.quest .btn-gray {
    margin-right: 10px;
}
.report-tab .input-group-addon{border-radius: 0px;}
.analytics .custom_input{
	border-radius: 4px;
	box-shadow: none;
	outline: none;
}
span.date-time-text {
    color: #B9B9B9;
}
.control-label {
    margin-bottom: 5px;
    font-weight: 700;
}
.weak h5{
	font-size: 14px;
	font-weight: 600;
}
.nav-tabs .modal-title {
    font-size: 18px;
    font-weight: 700;
}
.choose-file{
	padding: 30px;
}
.browse-btn input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;   
    cursor: inherit;
    display: block;
}
{
    position: relative;
    overflow: hidden;
}
.browse-btn .analytics .form-group label {
    margin-bottom: 10px;
    font-weight: normal;
}
.setting .bg-lightgrey h4 {
    line-height: 31px;
    font-size: 18px;
}
.hieght_auto{
	height: auto !important;
}
.setting .bg-lightgrey h2{font-size: 22px;}
.bg-lightgrey {
    background-color: #fff;
    padding: 15px;
   /* border: 1px solid #e9e9e9;*/
 /*   min-height: 200px;*/
    margin-bottom: 30px;
}
.bg-lightgrey-02{
	 background-color: #fff;
    padding: 15px;
	 margin-bottom: 10px;
}
.plan-header h3{margin: 0 auto; font-size: 18px; cursor: pointer; color: #2f353f; font-weight: bold;} 
.profile-header h3{margin: 0 auto; font-size: 18px; cursor: pointer; color: #2f353f; font-weight: bold;}
.profile-edit{margin-top: 30px;}
.more-less {
	cursor: pointer;
        float: right;
        color: #9f3978;
	    font-size: 24px;
    }
.start-box{
	padding: 20px 0px;
}
.table-custom td a {
    padding: 0 10px;
    border-radius: 100%;
    background-color: rgba(0, 0, 0, 0.1);
    display: inline-block;
    font-size: 12px;
    height: 33px;
    line-height: 33px;
    margin: 0 7px;
    text-align: center;
    width: 33px;
    color: #888888;
}
.bg_sideline {
    padding: 30px 20px;
    border-left: 1px solid #ddd;
    text-align: center;
    margin-top: 20px;
}
.color-default {
    color: #555 !important;
}
.main_points li::before {
    content: "\e080";
    font-family: 'simple-line-icons';
    color: #eab519;
    display: inline-block;
    font-weight: bold;
    padding-right: 10px;
}
.main_points li {
    color: #6e7f8c;
    line-height: 2.9em;
   display: inline-block;
    margin-right: 0.6em;
}
.upgrade-t-p{
	padding-top: 25%;
}
.box-height{min-height: 330px;border: 1px solid #e9e9e9;}
.color2 {
    color: #cccccc;
}
.btn-link {
    border: 2px solid #9f3978;
    color: #9f3978;
}
.table-custom tbody tr td {
    vertical-align: middle;
    border-top: none;
    border-bottom: 1px solid #eee;
}
.country_list {
    height: 172px;
    overflow-y: auto;
    padding: 10px;
    border: 1px solid #ddd;
}
.dial-tab{
	margin-top: 20px;
}
.dial-tab ul.main_points{
	padding-left: 0px;
}
.dial-tab .main_points li {
	list-style-type: none;
   display: block;
}
.dial-tab .main_points li a i {
padding: 0 10px;
    border-radius: 100%;
    background-color: rgba(0, 0, 0, 0.1);
    display:block;
    font-size: 12px;
    height: 33px;
    line-height: 33px;
    margin: 0 7px;
    text-align: center;
    width: 33px;
    color: #888888;
}
.width-full {
    width: 100%;
}
.missed h4{line-height: 27px;
    font-size: 17px;}
.textarea-deco {
    outline: none;
    border: 1px solid #eeeeee;
    padding: 5px;
    margin-bottom: 7px;
    height: 60px;
    box-shadow: none;
}
.bg1 {
    background-color: #9f3978;
    border-color: transparent;
    color: #fff;
}
.custom_table td a .fa-eye {
    background: #bbb;
padding: 3px 3px;
    border-radius: 3px;
    color: #fff;
    height: 22px;
    width: 22px;
    text-align: center;
    font-size: 14px;
}
.custom_table td a .fa-sort-numeric-desc{
	 background: #2f353f;
padding: 3px 3px;
    border-radius: 3px;
    color: #fff;
    height: 22px;
    width: 22px;
    text-align: center;
    font-size: 14px;
}
.custom_table td a .fa-play-circle {
    background: #bbb;
padding: 3px 3px;
    border-radius: 3px;
    color: #fff;
    height: 22px;
    width: 22px;
    text-align: center;
    font-size: 14px;
}
.custom_table td a .fa-pencil-square-o {
    background: #2f353f;
padding: 3px 3px;
    border-radius: 3px;
    color: #fff;
    height: 22px;
    width: 22px;
    text-align: center;
    font-size: 14px;
}
.custom_table td a .glyphicon-trash {
    background: #ff0006;
padding: 3px 3px;
    border-radius: 3px;
    color: #fff;
    height: 22px;
    width: 22px;
    text-align: center;
    font-size: 14px;
}
.white{background: #fff !important; padding: 15px;}
.glyphicon-cloud-upload{
    background: #2f353f;
padding: 3px 3px;
    border-radius: 3px;
    color: #fff;
    height: 22px;
    width: 22px;
    text-align: center;
    font-size: 14px;	
}
.glyphicon-play{
    background: #2f353f;
padding: 3px 3px;
    border-radius: 3px;
    color: #fff;
    height: 22px;
    width: 22px;
    text-align: center;
    font-size: 14px;	
}
 #page_container .collapse {
    display:inline-block;
}
a.pls i.fa{font-size: 25px; padding-top: 3px; color: #9f3978;}
/*-------full-calendar-css-include-here---------*/
	#loading {
		display: none;
		position: absolute;
		top: 10px;
		right: 10px;
	}

	#calendar {
		max-width: 90%;
		margin: 40px auto;
		padding: 0 10px;
	}
.fc-state-default{
	border-radius: 0px;
    color: #fff;
	background: #9f3978;
	margin-right: 3px !important;
}
.fc-ltr .fc-basic-view .fc-day-top .fc-day-number {
    color: #2f353f;
}
.fc-event.fc-draggable, .fc-event[href], .fc-popover .fc-header .fc-close, a[data-goto] {
    color: #2f353f;
}
.fc-state-default.fc-corner-left {
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}
.fc-state-default.fc-corner-right {
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}
/*-------full-calendar-css-end-here---------*/
/*--media--query--start--here--*/
@media (max-width: 1024px) and (min-width: 992px){
   
}
@media screen and (max-width: 1000px) {}
@media (max-width: 767px){
	#header .navbar-brand {
    padding: 8px 14px;
    width: 34%;
    background: #ececec;
}
	.navbar-header .fa-indent{
		font-size: 22px;
    margin-top: 16px;
    color: #000;
	}
	.page_content {
    margin-left: 0px !important;
}
	#aside {
		top: 65px;
		position: absolute;
		transition: all 0.3s !important;
		height: auto;
		 left: -150px;
		 z-index: 10;
	}
#aside.in {
		top: 65px;
	transition: all 0.3s !important;
    display: block;
    left: 0 !important;
	height: auto;
		transition: all 0.7s;
}
	#header .navbar-header {
    width: 100%;
    height: 65px;
	}
	.navbar-toggle .icon-bar {
    background: #000;
	}
	#header .navbar-brand img {
    float: left;
    width: 40px;
}
	#header #toggle_btn {
    width: 66px;
    height: 65px;
}
	#header .navbar-default .navbar-collapse{
    margin-top: 64px;
}
	.ext-cls-m{
    margin-bottom: 30px;
	}
	.lower_section {
		padding: 0px 15px;}
}
@media (max-width: 575px){ 
	#header .navbar-default .navbar-nav>li.black {
    margin-left: 30px;
    width: 20%;
}
	.bg-blue {
    margin-top: 15px;
	}

	.upper_section .pull-right span {
    padding-right: 38px;
}
	#header .navbar-brand {
    width: 24%;
	}
	/*#header .navbar-brand {
    padding: 8px 25px;
    width: 31.5%;
    background: #ececec;
}*/
	.report-tab .nav-tabs>li>a {padding: 6px 12px;}
	.btn-blue {margin-bottom: 10px;}
	.report-tab .pagination {
          padding-left: 10px; 
          float: none;
	}
	.start-box {
    padding: 0px 0px;
}
  .setting .bg-lightgrey h4 {
    font-size: 15px;
	  	text-align: left;
}
	.main_points{
		text-align: left;
	}
}
@media (max-width: 480px){}
@media (max-width: 360px){}
@media (max-width: 320px){}